<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string><![CDATA[https://ali-fir-pro-binary.fir.im/6a9242b709b5a7187a4769a8a0829362abed88e7?auth_key=1541048094-0-0-4673b5749a15803ffdb79313b41a8067]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <integer>0</integer>
          <key>url</key>
          <string><![CDATA[https://pro-icon-qn.fir.im/6248bd3aa0e21be2a265a335c20277d4cefb32c3?e=1541049894&token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:hYt7FkHE8Sb1RvPm5ktIs5Sj-FU=]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>needs-shine</key>
          <true/>
          <key>url</key>
          <string><![CDATA[https://pro-icon-qn.fir.im/6248bd3aa0e21be2a265a335c20277d4cefb32c3?e=1541049894&token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:hYt7FkHE8Sb1RvPm5ktIs5Sj-FU=]]></string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.mamahao.offlineserver</string>
        <key>bundle-version</key>
        <string><![CDATA[1.1.2]]></string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string><![CDATA[妈妈好服务]]></string>
      </dict>
    </dict>
  </array>
</dict></plist>
