body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
a {
    color: #2f2f2f;
    text-decoration: none;
}
/*选择鼠标移到链接上的样式*/
a:hover {
    text-decoration: underline;
}
/*选择访问过得链接样式*/
a:visited {
    color: #969696;
}
ul {
    list-style: none;
    padding: 0px;
}
code.text-code {
    color: #ae0000;
    white-space: pre-wrap;
    word-wrap: break-word;
}