table th:nth-child(1){width: 30%;}
table th:nth-child(2){width: 25%;}
table tr:nth-child(odd){background-color: #F6F6F6}
table tr:nth-child(1){background-color: #F0F0F0}
table {
    word-break: break-all;
}